
<div *ngIf="address">
    <h2><span>Address</span> {{address.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Address Line 1</span></dt>
        <dd>
            <span>{{address.addressLine1}}</span>
        </dd>
        <dt><span>Address Line 2</span></dt>
        <dd>
            <span>{{address.addressLine2}}</span>
        </dd>
        <dt><span>Address Line 3</span></dt>
        <dd>
            <span>{{address.addressLine3}}</span>
        </dd>
        <dt><span>City</span></dt>
        <dd>
            <span>{{address.city}}</span>
        </dd>
        <dt><span>County</span></dt>
        <dd>
            <span>{{address.county}}</span>
        </dd>
        <dt><span>Country</span></dt>
        <dd>
            <span>{{address.country}}</span>
        </dd>
        <dt><span>Postcode</span></dt>
        <dd>
            <span>{{address.postcode}}</span>
        </dd>
        <dt><span>Address Type</span></dt>
        <dd>
            <div *ngIf="address.addressTypeId">
                <a [routerLink]="['/address-type-reference-data', address.addressTypeId]">{{address.addressTypeId}}</a>
            </div>
        </dd>
        <dt><span>Organisation</span></dt>
        <dd>
            <div *ngIf="address.organisationId">
                <a [routerLink]="['/organisation-reference-data', address.organisationId]">{{address.organisationId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'address-reference-data/'+ address.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
