<div>
    <h2>
        <span>Addresses</span>
        <button class="btn btn-primary float-right jh-create-entity create-address-reference-data" [routerLink]="['/', { outlets: { popup: ['address-reference-data-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Address
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="addresses">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="addressLine1"><span>Address Line 1</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="addressLine2"><span>Address Line 2</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="addressLine3"><span>Address Line 3</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="city"><span>City</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="county"><span>County</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="country"><span>Country</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="postcode"><span>Postcode</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="addressTypeId"><span>Address Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="organisationId"><span>Organisation</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let address of addresses ;trackBy: trackId">
                <td><a [routerLink]="['../address-reference-data', address.id ]">{{address.id}}</a></td>
                <td>{{address.addressLine1}}</td>
                <td>{{address.addressLine2}}</td>
                <td>{{address.addressLine3}}</td>
                <td>{{address.city}}</td>
                <td>{{address.county}}</td>
                <td>{{address.country}}</td>
                <td>{{address.postcode}}</td>
                <td>
                    <div *ngIf="address.addressTypeId">
                        <a [routerLink]="['../address-type-reference-data', address.addressTypeId  ]" >{{address.addressTypeId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="address.organisationId">
                        <a [routerLink]="['../organisation-reference-data', address.organisationId  ]" >{{address.organisationId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../address-reference-data', address.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'address-reference-data/'+ address.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'address-reference-data/'+ address.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="addresses && addresses.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
