
<div *ngIf="professionalUserAccountAssignment">
    <h2><span>Professional User Account Assignment</span> {{professionalUserAccountAssignment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Payment Account</span></dt>
        <dd>
            <div *ngIf="professionalUserAccountAssignment.paymentAccountId">
                <a [routerLink]="['/payment-account-reference-data', professionalUserAccountAssignment.paymentAccountId]">{{professionalUserAccountAssignment.paymentAccountId}}</a>
            </div>
        </dd>
        <dt><span>Professional User</span></dt>
        <dd>
            <div *ngIf="professionalUserAccountAssignment.professionalUserId">
                <a [routerLink]="['/professional-user-reference-data', professionalUserAccountAssignment.professionalUserId]">{{professionalUserAccountAssignment.professionalUserId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'professional-user-account-assignment-reference-data/'+ professionalUserAccountAssignment.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
