<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProfessionalUserAccountAssignmentLabel">Create or edit a Professional User Account Assignment</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!professionalUserAccountAssignment.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="professionalUserAccountAssignment.id" readonly />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_paymentAccount">Payment Account</label>
            <select class="form-control" id="field_paymentAccount" name="paymentAccount" [(ngModel)]="professionalUserAccountAssignment.paymentAccountId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="paymentAccountOption.id" *ngFor="let paymentAccountOption of paymentaccounts; trackBy: trackPaymentAccountById">{{paymentAccountOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_professionalUser">Professional User</label>
            <select class="form-control" id="field_professionalUser" name="professionalUser" [(ngModel)]="professionalUserAccountAssignment.professionalUserId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="professionalUserOption.id" *ngFor="let professionalUserOption of professionalusers; trackBy: trackProfessionalUserById">{{professionalUserOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
