
<div *ngIf="organisation">
    <h2><span>Organisation</span> {{organisation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{organisation.name}}</span>
        </dd>
        <dt><span>Organisation Type</span></dt>
        <dd>
            <div *ngIf="organisation.organisationTypeId">
                <a [routerLink]="['/organisation-type-reference-data', organisation.organisationTypeId]">{{organisation.organisationTypeId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'organisation-reference-data/'+ organisation.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
