<div>
    <h2>
        <span>Professional Users</span>
        <button class="btn btn-primary float-right jh-create-entity create-professional-user-reference-data" [routerLink]="['/', { outlets: { popup: ['professional-user-reference-data-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Professional User
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="professionalUsers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userId"><span>User Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="firstName"><span>First Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="surname"><span>Surname</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="email"><span>Email</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="phoneNumber"><span>Phone Number</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let professionalUser of professionalUsers ;trackBy: trackId">
                <td><a [routerLink]="['../professional-user-reference-data', professionalUser.id ]">{{professionalUser.id}}</a></td>
                <td>{{professionalUser.userId}}</td>
                <td>{{professionalUser.firstName}}</td>
                <td>{{professionalUser.surname}}</td>
                <td>{{professionalUser.email}}</td>
                <td>{{professionalUser.phoneNumber}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../professional-user-reference-data', professionalUser.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'professional-user-reference-data/'+ professionalUser.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'professional-user-reference-data/'+ professionalUser.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="professionalUsers && professionalUsers.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
